## Two-Sample mean test

In [1]:
import os
import math
import scipy.stats as stat

import pandas as pd

In [3]:
path0 = os.path.join("datasets", "2-sample mean test.xlsx")

In [7]:
inp0 = pd.read_excel(path0, sheet_name=' 1-sample mean test')

inp0.head(3)

   Unnamed: 0  Commute time of employees   Hypothesised Mean Time
0         NaN                          37                    35.0
1         NaN                          64                     NaN
2         NaN                          43                     NaN

In [8]:
inp1 = pd.read_excel(path0, sheet_name='2-sample mean test - Paired')

inp1.head(3)

   Unnamed: 0  Commute time on Day 1  Commute Time on Day 2
0         NaN                     27                     23
1         NaN                     43                     42
2         NaN                     34                     39

In [9]:
inp2 = pd.read_excel(path0, sheet_name='2-sample mean test - Unpaired')

inp2.head(3)

   Unnamed: 0  Commute time of Team 1  Commute Time of Team 2
0         NaN                      27                      18
1         NaN                      43                      27
2         NaN                      34                      64

## 1-sample t-test: testing the value of a population mean

In [6]:
stat.ttest_1samp(inp0['Commute time of employees '], 35.0)

TtestResult(statistic=-1.7233018724723084, pvalue=0.09479631478752118, df=31)

## 2-sample t-test: testing for difference across populations

In [14]:
stat.ttest_ind(inp1['Commute time on Day 1'], inp1['Commute Time on Day 2'])

Ttest_indResult(statistic=0.14171787003575112, pvalue=0.8877623550344126)

## Paired tests: repeated measurements on the same individuals

In [ ]:
stats.ttest_rel()