# Sets

-  A set in Python is very similar to [sets](https://www.cuemath.com/algebra/sets/) in mathametics.<br>
-  It is an **unordered** sequence where each value inside the set **must be unique**.
-  A python Set is **mutable** in nature. However, a set cannot contain mutable data types like lists or dictionaries as its elements.<br>
-  Sets are defined as unique values separated by commas and **enclosed inside of curly braces**.
-  As sets are unordered, they **cannot be indexed** or sliced.

In [5]:
sample_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}      # Set literal

print(sample_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# `set()` constructor

-  The `set()` constructor can take an iterable as argument and return a set.
-  If there are repeating values inside of the iterable, it will be removed and only one occurance of that value will be included in the set.
-  Sets are sorted by default.
-  To create an empty set, you can make use of `set()` constructor only.

In [ ]:
l = [2, 3, 5, 6, 8, 8, 4, 3, 15, 11, 2]     # Declaring a list
print(type(l))                              # printing its type

set_1 = set(l)                              # declaring a set using set() constructor
print(set_1)                                # printing the set

<class 'list'>
{2, 3, 4, 5, 6, 8, 11, 15}

In [ ]:
# Creating an empty set.
set_2 = set()

In [10]:
# Adding a value in a set

set_1.add('Australia')
set_1

{11, 15, 2, 3, 4, 5, 6, 8, 'Australia'}

In [11]:
# Removing a value in a set

set_1.remove('Australia')
set_1

{2, 3, 4, 5, 6, 8, 11, 15}

# Methods of Sets

In [12]:
a = {0, 2, 4, 6, 8}
b = {1, 2, 3, 4, 5}

print(a, b)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

### 1. Union

Combination of values in both sets

In [13]:
print(a | b)
print(a.union(b))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

### 2. Intersection

Values that are common in both a and b

In [15]:
print(a & b)
print(a.intersection(b))

{2, 4}
{2, 4}

### 3. Difference

Remove values in a that are in b, and return remaining values in a

In [17]:
print(a - b)
print(a.difference(b))

{0, 8, 6}
{0, 8, 6}

### 4. Symmetric Difference

Items mutually exclusive to A anb B<br>
i.e. (a | b) - (a & b)

In [21]:
print(a ^ b)
print(a.symmetric_difference(b))

{0, 1, 3, 5, 6, 8}
{0, 1, 3, 5, 6, 8}

# Frozen Set

-  A frozen set is an immutable set.
-  It can be created using the frozenset() builtin method.

In [23]:
even100 = frozenset(range(0, 101, 2))
print(even100)

frozenset({0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100})

In [24]:
# Trying to add a value to a frozenset

even100.add(102)

AttributeError: 'frozenset' object has no attribute 'add'